*{
	text-decoration: none;
	list-style: none;
	font: 14px 宋体;
	margin: 0;
	padding: 0;
}
body{
	margin-bottom: -100px;

}
section p{
	text-indent: 2em;
}

header{
	width: 100%;
	height: 80px;
	background-color: #490C58;
	position: relative;

}
#icon-github{
	position: absolute;
	right: 10px;
	bottom: 0;
}
.head-center{
	max-width: 980px;
	height: 80px;
	margin: 0 auto;
	background-color: #490C58;
	position: relative;

}
#mylogo{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.head-nav{
	position: absolute;
	right: 0;
	bottom: 5px;
}
.head-nav li{
	display: inline-block;
	margin-left: 28px;

}
.top{
	
	width: 100%;
	height: 600px;/*怎样确定高度*/
	background: white url(../img/banner-bg.jpg) no-repeat scroll;
	background-size: auto 100%;
	position:relative;

}

	

.top-content{
	max-width: 400px;
	height: 100px;
	position: absolute;
	color: white;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	background: -maz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
	right: 180px;
	bottom: 0;
	padding: 10px 10px 30px;
}
.top-content h2{
	text-align: right;
	font-size: 14px;
	margin-bottom: 12px;
}
.top-content p{
	font-size: 12px;
	line-height: 150%;
}
.middle{
	width: 100%;
	min-height: 500px;
	background-color: #eee;
	padding-bottom: 100px;
}
.box-wrap{
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto ;
}
.box{
	float: left;
	width: 320px;
	background: white;
	margin: 10px 5px 0;
	position: relative;
	text-align: left;
	padding-bottom: 99999px;
	margin-bottom: -99999px;


}
.box img{
	margin: 10px 10px;
}
.box p{
	padding: 5px 30px 25px;
}
.bottom{
	width: 100%;
	min-height: 440px;
	background-color: white;
	position: relative;
	
}
.bottom h1{
	max-width: 600px;
	margin: 160px auto 50px;
	text-align: center;
	font: 20px "Centery Gothic";
}
.bottom p{
	max-width: 600px;
	text-align: left;
	margin: 0 auto;
	font: 14px 宋体;
}
#portrait{
	position: absolute;
	top: -210px;
	left: 44%;
}
footer{
	width: 100%;
	min-height: 500px;
	background-color: black;
	position: relative;
	clear: both;
}


.foot-nav li{
	display: inline-block;
	margin-left: 28px;
	line-height: 40px;

}
.foot-nav{
	
	height: 40px;
	margin-left: 40%;
	
}
hr{
	clear: both;
	color: #555;
}
.foot-link-wrap{
	
	margin: 30px 100px;
	color: white;
}
.foot-link {
	width: 19%;
	display: inline-block;
	vertical-align: top;
}
.foot-link-wrap p{
	margin-bottom: 30px;
}
a:link, a:visited{
	color: white;
}
a:hover, a:focus, a:active{
	color: #E99DFD;
}
#banquan{
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
}
#btmicon{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;

	
}

